{% extends 'base.html' %}
{% set Page_name = 'SEARCH' %}
{% block title %}
      Search
{% endblock %}
{% block body %}
   {{ super() }}
    <div class="col-12-main">

    <div class="col-6">
    <h2>Search:</h2>
    <form action="/Search" method="GET">
           User Name:
           <br><input type="text" name="y_name"><br><br>
           ID:
            <br><input type="text" name="y_id"><br><br>
           <input type="submit">
    </form>
    {% if user_name %}
            <h4>Hi {{ user_name }}, you sign in with the below details: <br> User name: {{ user_name }} <br> ID: {{ id }}</h4>
            <a CLASS="girls" href="/logout">LOG OUT</a>
    {% endif %}


    </div>

   <div class="col-6">
    <h2>Registration:</h2>
   <form action="/Search" method="POST">
           User Name:
           <br><input name="y_name"><br><br>
           Email:
            <br><input type="email" name="y_email"><br><br>
           ID:
           <br><input name="y_id"><br><br>
           Password:
           <br><input type="password" name="y_password"><br><br>
           <input type="submit">
   </form>
   </div>


    </div>
{% endblock %}