{% extends 'base.html' %}
{% set Page_name = "USERS" %}
{% block title %}
      Req front- end
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="col-12">

    <div class="col-4">

        <script src="../static/js/js_code.js"></script>
        <h2>Users list <button onclick="getUsers()">Get users</button></h2>
        <main>

        </main>
    </div>


    <div class="col-4">
        <h2>Users - Frontend</h2>
        <form action="assignment11/outer_source">
            <input name = "id">
            <input type="submit" name = "Get_id">
        </form>
{##}
{#        <script src="../static/js/js_code.js"></script>#}
{#        <h2>Users list <button onclick="getUsers()">Get users</button></h2>#}
{#        <main>#}
{##}
{#        </main>#}
    </div>

    <div class="col-4">
        <h2>Users - Backend</h2>
        <form action="assignment11/outer_source">
            <input type="number" name = "number">
            <input type="submit" value = "Get id">
        </form>

        {% if user %}
            {% for user in users %}
                <h3> user-id: {{ user.id }}</h3>
                <h4>Name: {{ user.email }}</h4>
                <h4> first_name: {{ user.first_name }}></h4>
                <h4>last_name: {{ user.last_name }}</h4>
                <h4>last_name: {{ user.last_name }}</h4>
                <img src="{{ user.avatar }}" alt="pic">
            {% endfor %}
        {% endif %}
    </div>


    </div>
{% endblock %}













