{% extends 'base.html' %}
{% set Page_name = 'My CV page' %}
{% block title %}
      CV
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="col-12">

        <div class="col-2">
            <img src="/static/images/yuli.png" width="80%">
            <h4><bold>Email</bold></h4>
            <p>yuligros11@gmail.com</p>
            <h4><bold>Phone</bold></h4>
            <p>+972-525225280</p>

        </div>

        <div class="col-8">
            <h2>Yuli Grossman<br></h2>
            <p>
            <h5>Second - year student for Management Information Systems | Ben Gurion University</h5>
            I am a hardworking and curious management information systems student with<br>
            experience in project management and coding. I have a great passion for technology and<br>
            for analyzing problems with user requirements in mind. </p>


            <h2>EXPERIENCE</h2>
            <p>
            <h4>2021 –Present | Startup Investment Analyst Course, fresh.found VC </h4>
            Ben Gurion University Venture Capital fund – The analysts' course of the university's <br>
            venture capital found during a full semester for elite student of the university.
            <h4>2021 - Present | Google Developer Student Club Member, BGU</h4>
            Learning about new developing technologies in a peer-to-peer learning environment<br>
            while building solutions for local businesses and their community.<br>
            Relevant technologies – Flutter & React
            <h4>Animated Video Editor</h4>
            Student position under the Department of Management - Ben Gurion University<br>
            <h4>Military Service</h4>
            2015 – 2017 | Outstanding athlete status (basketball player)<br>
            <h4>Coaching | Individual and group coach</h4>
            > Pilates Mattress and Reformer Instructor<br>
            > Basketball coach for young and professional players
            </p>
        </div>
        <div class="col-2"></div>

</div>

{% endblock %}