<!-------- bar -------->
<header>
    <a href="/Home">Home</a> | <a href="/About_me">About me</a> | <a href="/hobbies">Hobbies</a>  | <a href="/assignment10">Users</a> | <a href="/Search">Log in/Sign up</a> | <a href="/assignment11/outer_source">JSON_AJAX</a>
{#    <br><br> User: {{ session['user_name'] }}#}
    {% if session['user_name'] %}
        <br><br> User: {{ session['user_name'] }}
{#        <br><a href="/logout">LOG OUT</a>#}
    {% endif %}
</header>

<body>
<div class="col-12-bar">WELCOME TO {{ Page_name | upper}}</div>
</body>