<header>
    <a href="/Home">Home</a> | <a href="/About me">About me</a> | <a href="/Pictures">Pictures</a> | <a href="/Contacts">Contact</a>
</header>

<!-------- Welcome bar -------->

<body>

<div class="col-12-bar">
        <div class="col-2-bar">
             <a href="/Home">Home</a>
        </div>

        <div class="col-1"></div>

        <div class="col-2-bar">
             <a href="/About me">About me</a>
        </div>

        <div class="col-2-bar">
              <a href="/Pictures">Pictures</a>
        </div>

        <div class="col-2-bar">
            <a href="about.html" class="footer">
                <button class="headerBTN">About</button>
            </a>
        </div>

        <div class="col-1"></div>

        <div class="col-2-bar">
              <a href="/Contacts">Contact</a>
        </div>
</div>

<div class="col-12-bar">Welcome to the {{ Page_name }}</div>

</body>