{% extends 'base.html' %}
{% set Page_name = "YULI'S WORLD" %}
{% block title %}
      Welcome
{% endblock %}

{% block body%}
    {{ super() }}
    <div class="col-12">
    <div class="col-2"></div>

{#    <div class="col-8">#}
{#    <h2 class="h2"> Sorry but we did not recognized tour personal details <br>#}
{#    Below is the full users list: </h2>#}
{#        {% for p_id, p_info in users.items() %}#}
{#            <h3 class="h2">User Details: {{ p_id }}</h3>#}
{#            {% for key in p_info %}#}
{#                <h3 class="h2">{{ key }} : {{ p_info[key] }}</h3>#}
{#    </div>#}

    <div class="col-2"></div>
    </div>
{% endblock %}