{% extends 'base.html' %}
{% set Page_name = "YULI'S WORLD" %}
{% block title %}
      Welcome
{% endblock %}

{% block body%}
    {{ super() }}
    <div class="col-12">
    <h4>We're sorry, but you do not have an account on Yuli's website. <br><br> <a href="/Search">Please SIGN UP</a></h4>
       <h4>All the users:</h4>
        <ul>
            {% for user in users%}
                <li>
                {{ user.id }}: <b>{{ user.user_name }}</b> ({{ user.email }})
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}